<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Menu Lateral</title>
    <link rel="stylesheet" type="text/css" href="../style/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../node_modules/bootstrap-icons/font/bootstrap-icons.css">
</head>
<style>
    nav,
    .offcanvas {
        background-color: #1e293b;
    }

    .navbar-toggler {
        border: none;
    }

    .navbar-toggler:focus {
        outline: none;
        box-shadow: none;
    }

    .modal-backdrop {
        width: 0;
    }

    @media (max-width: 768px) {
        .navbar-nav>li:hover {
            background-color: #0dcaf0;
        }
    }
</style>

<body>
    <!-- MENU START  -->
    <header class="sticky-top d-inline-flex">
        <nav class="navbar navbar-dark d-inline-flex">
            <!-- NAV CONTAINER START -->
            <div class="container m-0 p-0">
                <!-- NAV BUTTON  -->
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#menuLateral">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- OFFCANVAS MAIN CONTAINER START -->
                <section class="offcanvas offcanvas-start w-25" id="menuLateral" tabindex="-1">
                    <div class="offcanvas-header" data-bs-theme="dark">
                        <h5 class="offcanvas-title text-info">MENU</h5>
                        <button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="offcanvas"></button>
                    </div>
                    <!-- OFF CANVAS MENU LINKS  START-->
                    <div class="offcanvas-body d-flex flex-column justify-content-between px-0">
                        <ul class="navbar-nav fs-5 justify-content-evenly">
                            <li class="nav-item p-3 py-md-1">
                                <a class="nav-link"  href="">USUARIO</a>
                            </li>
                            <li class="nav-item p-3 py-md-1">
                                <a href="" class="nav-link">PROJECTS</a>
                            </li>
                            <li class="nav-item p-3 py-md-1">
                                <a href="" class="nav-link">ABOUT</a>
                            </li>
                            <li class="nav-item p-3 py-md-1">
                                <a href="" class="nav-link">CONTACT</a>
                            </li>
                        </ul>
                    </div>
                </section>
                <!-- OFFCANVAS MAIN CONTAINER END  -->
            </div>
        </nav>
    </header>
    <section>
        hola
    </section>
    <!-- <script type="module" src="../style/js/bootstrap.bundle.min.js"></script> -->
    <script type="module" src="../style/js/bootstrap.min.js"></script>
    <script type="module" src="../style/js/jquery-1.8.3.min.js"></script>

</body>

</html>