<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Menu Lateral</title>
    <link rel="stylesheet" type="text/css" href="../style/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../node_modules/bootstrap-icons/font/bootstrap-icons.css">
</head>
<style>
    .nav-link .cerrar-tap {
        display: none;
    }

    .nav-link:hover .cerrar-tap {
        display: inline;
    }

    nav,
    .offcanvas {
        background-color: #1e293b;
    }

    .navbar-toggler {
        border: none;
    }

    .navbar-toggler:focus {
        outline: none;
        box-shadow: none;
    }

    .modal-backdrop {
        width: 0;
    }

    @media (max-width: 768px) {
        .navbar-nav>li:hover {
            background-color: #0dcaf0;
        }
    }
</style>

<body>
    <!-- MENU START  -->
    <header class="position-absolute d-inline-flex flex-row" id="cargar">
        <nav class="navbar navbar-dark d-inline">
            <!-- NAV CONTAINER START -->
            <div class="container d-flex flex-column m-0 p-0">
                <!-- NAV BUTTON  -->
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#menuLateral">
                    <span class="navbar-toggler-icon text-white"></span>
                </button>
                <!-- OFFCANVAS MAIN CONTAINER START -->
                <section class="offcanvas offcanvas-start w-25" id="menuLateral" tabindex="-1">
                    <div class="offcanvas-header" data-bs-theme="dark">
                        <h5 class="offcanvas-title text-info">MENU</h5>
                        <button class="btn-close" id="cerrarNavBar" type="button" aria-label="Close"
                            data-bs-dismiss="offcanvas"></button>
                    </div>
                    <!-- OFF CANVAS MENU LINKS  START-->
                    <div class="offcanvas-body d-flex flex-column justify-content-between px-0">
                        <div class="navbar-nav fs-6 justify-content-evenly">
                            <div class="nav-item p-3 py-md-1">
                                <a class="nav-link" data-bs-toggle="collapse" href="#collapseUsuario" role="button"
                                    aria-expanded="false" aria-controls="collapseUsuario">
                                    USUARIO
                                </a>
                                <div class="collapse" id="collapseUsuario">
                                    <a href="#" class="nav-link ms-3 item-nav-bar" id="nuevoUsuario">Nuevo Usuario</a>
                                    <a href="#" class="nav-link ms-3 item-nav-bar" id="editarUsuario">Editar Usuario</a>
                                </div>
                            </div>
                            <div class="nav-item p-3 py-md-1">
                                <a class="nav-link" data-bs-toggle="collapse" href="#collapseActivos" role="button"
                                    aria-expanded="false" aria-controls="collapseActivos">
                                    ACTIVOS
                                </a>
                                <div class="collapse" id="collapseActivos">
                                    <a href="#" class="nav-link ms-3 item-nav-bar" id="listadoActivo" </a>Ver
                                        Activos</a>
                                    <a href="#" class="nav-link ms-3 item-nav-bar" id="crearActivo">Crear Activo</a>
                                    <a href="#" class="nav-link ms-3 item-nav-bar" id="editarActivo">Consultar
                                        Activo</a>
                                    <a href="#" class="nav-link ms-3 item-nav-bar" id="cambiarClasificacion">Cambiar
                                        Clasificacion</a>
                                </div>
                            </div>
                            <div class="nav-item p-3 py-md-1">
                                <a class="nav-link" data-bs-toggle="collapse" href="#collapseSolicitud" role="button"
                                    aria-expanded="false" aria-controls="collapseSolicitud">
                                    SOLICITUDES
                                </a>
                                <div class="collapse" id="collapseSolicitud">
                                    <a href="#" class="nav-link ms-3 item-nav-bar" id="listadoSolicitud">Ver
                                        Solicitudes</a>
                                    <a href="#" class="nav-link ms-3 item-nav-bar" id="crearSolicitud">Crear
                                        Solicitud</a>
                                    <a href="#" class="nav-link ms-3 item-nav-bar" id="consultarSolicitud">Consultar
                                        Solicitud</a>
                                </div>
                            </div>
                            <div class="nav-item p-3 py-md-1">
                                <a class="nav-link" data-bs-toggle="collapse" href="#collapseReporte" role="button"
                                    aria-expanded="false" aria-controls="collapseReporte">
                                    REPORTES
                                </a>
                                <div class="collapse" id="collapseReporte">
                                    <a href="#" class="nav-link ms-3 item-nav-bar" id="verReportes">Ver Reportes</a>
                                    <a href="#" class="nav-link ms-3 item-nav-bar" id="crearReporte">Crear Reporte</a>
                                    <a href="#" class="nav-link ms-3 item-nav-bar" id="consultarReporte">Consultar
                                        Reporte</a>
                                </div>
                            </div>
                            <div class="nav-item p-3 py-md-1">
                                <a class="nav-link" data-bs-toggle="collapse" href="#collapseConfig" role="button"
                                    aria-expanded="false" aria-controls="collapseConfig">
                                    CONFIGURACION
                                </a>
                                <div class="collapse" id="collapseConfig">
                                    <a href="#" class="nav-link ms-3 item-nav-bar" id="configuracion">Consultar
                                        Configuracion</a>
                                </div>
                            </div>
                            <div class="nav-item  text-white mt-5 p-3 py-md-1">
                                Rafael Jose Huertas Ruiz
                            </div>
                        </div>
                    </div>
                </section>
                <!-- OFFCANVAS MAIN CONTAINER END  -->
            </div>
        </nav>
    </header>

    <section class="d-inline">
        <div class="h2 text-center">Rafael Jose Huertas Ruiz</div>
    </section>
    <div class="border border-2 border-dark"></div>

    <section class="d-block">
        <div class="container-fluid my-3" id="bodyTap">
            <ul class="nav nav-tabs" id="containerTap" role="tablist">
                <li class="nav-item home" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                        type="button" role="tab" aria-controls="home" aria-selected="true">home <span
                            class="fw-bold text-danger ms-2 cerrar-tap" id="home-cerrar" data-bs-dismiss="tab"
                            aria-label="Close"> X</span></button>
                </li>
                <li class="nav-item ms-2" id="nueva-tap" role="presentation">
                    <button class="nav-link fw-bold fs-4 p-0" data-bs-toggle="tab" type="button" role="tab"
                        aria-controls="contact" aria-selected="false">+</button>
                </li>
            </ul>
            <div class="tab-content" id="TabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                   
                    <section class="d-block mt-1">
                        <div class="container-fluid ms-5 w-100 d-flex ">
                            <div class="p-2"><button type="button" class="btn btn-success crear">Crear</button></div>
                            <div class="p-2"><button type="button"
                                    class="btn btn-warning actualizar d-none">Actualizar</button></div>
                            <div class="p-2"><button type="button" class="btn btn-secondary solicitar d-none">Solictar
                                    Mtto</button>
                            </div>
                            <div class="p-2"> <button type="button" class="btn btn-primary print d-none">Print</button>
                            </div>
                            <div class="p-2 ms-auto"><button type="button"
                                    class="btn btn-danger eliminar d-none ">Eliminar</button>
                            </div>
                        </div>

                        <div class="container-fluid w-100 border border-1 border-dark m-2 dataActivo">
                            <h1 class="text-center mt-1">Hoja de Vida de Activos</h1>
                            <form class="w-100">
                                <div class="row mx-1 align-items-center">
                                    <div class="form-group col-4">
                                        <div class="d-flex flex-column align-items-center justify-content-center"
                                            id="dragDropImgActivo">
                                            <div class="icon">
                                                <i class="bi bi-images text-color-info text-info display-6  "></i>
                                            </div>
                                            <span class="fw-bold dragtext">Arrastra y suelta </span>
                                            <span class="fw-bold dragtext">o </span>
                                            <span class="fw-bold text-info">Selecciona las imagenes</span>
                                            <input type="file" accept=".jpg, .png, .jpeg|image/*" id="inputActivoImg"
                                                hidden multiple "><span class=" text-secondary">Tipo: JPEG, JPG, PNG
                                            </span>
                                        </div>
                                        <div id="carruselImgActivo" class="carousel slide" data-bs-ride="carousel">
                                            <div class="carousel-indicators"></div>
                                            <div class="carousel-inner"></div>
                                            <button class="carousel-control-prev" type="button"
                                                data-bs-target="#carruselImgActivo" data-bs-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Previous</span>
                                            </button>
                                            <button class="carousel-control-next" type="button"
                                                data-bs-target="#carruselImgActivo" data-bs-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Next</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-group col-3">
                                        <label for="clasificacionActivo" class="clasificacionActivo">Clasificacion
                                            Activo</label>
                                        <input type="select" class="form-control my-1  fw-bold" id="clasificacionActivo"
                                            list="listClasificacionActivo">
                                        <datalist id="listClasificacionActivo"></datalist>

                                        <label for="codigoInterno" class="d-none codigoInterno">Codigo Interno</label>
                                        <input type="text" class="form-control my-1 fw-bold d-none" id="codigoInterno"
                                            readonly>

                                        <label for="modeloActivo">Modelo</label>
                                        <input type="text" class="form-control my-1" id="modeloActivo">

                                        <label for="areaActivo">Area</label>
                                        <input type="text" class="form-control my-1" id="areaActivo" list="listaAreas">
                                        <datalist id="listaAreas"></datalist>

                                    </div>
                                    <div class="form-group col-3">
                                        <label for="nombreActivo">Nombre</label>
                                        <input type="text" class="form-control my-1" id="nombreActivo">

                                        <label for="serieActivo">Serie</label>
                                        <input type="text" class="form-control my-1" id="serieActivo">

                                        <label for="ubicacionActivo">Ubicacion Especifica</label>
                                        <input type="text" class="form-control my-1" id="ubicacionActivo">

                                    </div>
                                    <div class="form-group col-2">
                                        <label for="marcaActivo">Marca</label>
                                        <input type="text" class="form-control my-1" id="marcaActivo" list="listMarcas">
                                        <datalist id="listMarcas"></datalist>

                                        <label for="procesoActivo">Proceso</label>
                                        <input type="text" class="form-control my-1" id="procesoActivo"
                                            list="listProceso">
                                        <datalist id="listProceso"></datalist>

                                        <label for="estadoActivo">Estado</label>
                                        <input type="text" class="form-control my-1 fw-bold" id="estadoActivo"
                                            list="listaEstado">
                                        <datalist id="listaEstado"></datalist>
                                    </div>
                                </div>
                                <div class="row mx-3 align-items-center py-1">
                                    <div class="form-group col-5">
                                        <label for="proveedorActivo">Provedor</label>
                                        <input type="text" class="form-control my-1" id="proveedorActivo"
                                            list="listaProveedores">
                                        <datalist id="listaProveedores"></datalist>
                                    </div>
                                    <div class="form-group col-2 nitProveedor">
                                        <label for="nitProveedor">Nit Provedor</label>
                                        <input type="text" class="form-control my-1" id="nitProveedor" readonly>
                                    </div>

                                    <div class="form-group col-3">
                                        <label for="responsableActivo">Responsable del Activo</label>
                                        <input type="text" class="form-control my-1" id="responsableActivo"
                                            list="listaUsuario">
                                        <datalist id="listaUsuario"></datalist>
                                    </div>
                                    <div class="form-group col-2">
                                        <label for="tipoActivo">Tipo activo</label>
                                        <input type="text" class="form-control my-1" id="tipoActivo"
                                            list="listaTipoActivo">
                                        <datalist id="listaTipoActivo"></datalist>
                                    </div>

                                </div>
                                <div class="row mx-3 align-items-center py-1">
                                    <div class="form-group col-2">
                                        <label for="facturaActivo">N. Factura</label>
                                        <input type="text" class="form-control my-1" id="facturaActivo">
                                    </div>
                                    <div class="form-group col-2">
                                        <label for="valorActivo">valor</label>
                                        <input type="text" class="form-control my-1" id="valorActivo">
                                    </div>

                                    <div class="form-group col-2 d-none ingresoActivo">
                                        <label for="ingresoActivo">Fecha ingreso al Inv</label>
                                        <input type="date" class="form-control my-1" id="ingresoActivo" readonly>
                                    </div>
                                    <div class="form-group col-3">
                                        <label for="fechaCompra">Fecha Compra</label>
                                        <input type="date" class="form-control my-1" id="fechaCompra">
                                    </div>
                                    <div class="form-group col-3">
                                        <label for="garantiaActivo">Fin Garantia</label>
                                        <input type="date" class="form-control my-1" id="garantiaActivo">
                                    </div>
                                    <div class="form-group col-2">
                                        <label for="frecuenciaMtto">Frecuencia de Mtto</label>
                                        <input type="text" class="form-control my-1" id="frecuenciaMtto"
                                            list="listaFrecuencia">
                                        <datalist id="listaFrecuencia"></datalist>
                                    </div>
                                    <div class="form-group col-2 d-none ultimoMtto ">
                                        <label for="ultimoMtto">Fecha Ultimo Mtto</label>
                                        <input type="date" class="form-control my-1" id="ultimoMtto" readonly>
                                    </div>
                                    <div class="form-group col-2 d-none proximoMtto">
                                        <label for="proximoMtto">Fecha Proximo Mtto</label>
                                        <input type="date" class="form-control my-1 fw-bold" id="proximoMtto" readonly>
                                    </div>

                                </div>
                                <div class="row mx-3 align-items-center py-1">
                                    <div class="form-group col-4">
                                        <label for="descripcionActivo">Descripcion del Activo</label>
                                        <textarea class="form-control m-1" id="descripcionActivo" rows="4"></textarea>
                                    </div>
                                    <div class="form-group col-4">
                                        <label for="recomendacionActivo">Recomendaciones de Mantenimiento</label>
                                        <textarea class="form-control m-1" id="recomendacionActivo" rows="4"></textarea>
                                    </div>
                                    <div class="form-group col-4">
                                        <label for="observacionActivo">Observaciones</label>
                                        <textarea class="form-control m-1" id="observacionActivo" rows="4"></textarea>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="container-fluid w-100 m-0 p-0 my-3 d-none historialMantenimiento">
                            <h2 class="text-center fw-bold">Historial de Mantenimientos</h2>
                            <table class="table W-100 table-striped table-hover table-sm table-responsive">
                                <thead>
                                    <tr class="text-uppercase text-center">
                                        <th scope="col">id reporte</th>
                                        <th scope="col">Fecha reporte</th>
                                        <th scope="col">Hallazgos</th>
                                        <th scope="col">Reporte tecnico</th>
                                        <th scope="col">recomendaciones</th>
                                        <th scope="col">Proveedor</th>
                                        <th scope="col">Proximo Mtto</th>
                                        <th scope="col">Tipo Mtto</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    <footer class="text-center text-lg-start text-white mt-3" style="background-color: #1c2331">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2023 Copyright:
            <a class="text-white" href="https://github.com/Rafahur03/">Rafael Jose Huertas Ruiz</a>
        </div>
    </footer>
    <script type="module" src="../controlers/index.js"></script>
    <script type="module" src="../style/js/bootstrap.min.js"></script>
    <script type="module" src="../style/js/jquery-1.8.3.min.js"></script>
</body>

</html>