<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../style/css/bootstrap.min.css">
    <title>Inicio de sesion</title>
</head>

<body>
    <section class="container m-5 d-flex flex-column justify-content-center align-content-between ">
        <!-- contenedor de todo los item de la pagina de inicio de sesion -->

        <!-- contenedor del logo y formulario -->
        <div class="row">
            <!-- contenedor logo -->
            <div class="col">
                <img src="../media/COS.png" class="img-fluid" alt="logoClinica">
            </div>
            <!-- contenedor del formulario -->
            <div class="col form">
                <!-- // formulario -->
                <form>
                    <div class="">
                        <p class="lead fw-bold my-3 me-3">Inicio de sesion</p>
                    </div>
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="text" id="user" class="form-control form-control-lg"
                            placeholder="Ingrese su Id o su" />
                        <label class="form-label" for="user">User</label>
                    </div>
                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <input type="password" id="password" class="form-control form-control-lg"
                            placeholder="Ingrese su contraseña" />
                        <label class="form-label" for="password">Password</label>
                    </div>
                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary btn-lg"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                    </div>
                </form>
            </div>
        </div>


        <div class="mb-3 align-self-center ">
            <!-- Copyright -->
            <div class="text-secondary text-center fw-bold mb-1 mb-md-0">
                Copyright ©Rafael Jose Huertas Ruiz 2020. All rights reserved.
            </div>
        </div>
    </section>
</body>
<script type="module" src="./index.js"></script>
<script type="module" src="./style/js/jquery-1.8.3.min.js"></script>
<script type="module" src="./style/js/bootstrap.min.js"></script>

</html>