.cardFrase {
    width: 64%;
}

.nav-link .cerrar-tap {
    display: none;
}

.nav-link:hover .cerrar-tap {
    display: inline;
}

nav,
.offcanvas {
    background-color: #1e293b;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.modal-backdrop {
    width: 0;
}

#spinnerContenedor div {
    width: 5rem;
    height: 5rem
}

@media (max-width: 768px) {
    .navbar-nav>li:hover {
        background-color: #0dcaf0;
    }
}


.imagenesSolicitud {
    max-width: 100%;
    justify-content: center;
}

.imagenesSolicitud img {
    max-width: 100%;
    height: auto;
}

.imagenesReporte {
    max-width: 100%;
    justify-content: center;
}

.imagenesReporte img {
    max-width: 100%;
    height: auto;
}
